db.url=jdbc:postgresql://HOST:5432/DATABASE?sslmode=require
db.user=USERNAME
db.password=PASSWORD

# Alternative: set environment variables instead:
#   BILLING_DB_URL
#   BILLING_DB_USER
#   BILLING_DB_PASSWORD
